{% extends 'layout/layout.html' %}
{% load static %}


{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">Rol Administrativo: {{ rol.name }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
        <div class="well m-t bg-light lt">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <strong>Permisos: </strong> <br>
                        <ul> {% for permisos in rol.permissions.all %}
                            <li>{{ permisos.name }}</li>
                        {% endfor %} </ul>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- Se comprueba si tiene permiso para editar y que el usuario no posea dicho rol y si el rol no es el rol administrador -->
                    {% if perms.proyecto.change_roladministrativo and not rol.group_ptr in user.groups.all and not es_rol_administrador %}
                        <a href="{% url 'rol_sistema:editar' rol.id %}">
                            <button class="btn m-b-xs btn-default btn-addon ">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </a>
                    {% endif %}
                    <!-- Se comprueba si tiene permiso para eliminar y si el rol no es el rol administrador y si ningun usuario utiliza el rol -->
                    {% if perms.proyecto.delete_roladministrativo and not es_rol_administrador and not rol.user_set.all %}
                        <a href="{% url 'rol_sistema:eliminar' rol.id %}">
                            <button class="btn m-b-xs btn-danger btn-addon ">
                                <i class="fa fa-trash-o"></i>
                                Eliminar
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
