{% extends 'change_list.html' %}

{% block extra_filter %}
    <div class="form-group" style="width: auto; display: inline-block; margin: 0; float: right">
        <label for="filtro">Filtrar:</label>
        <select
            id="filtro" class="form-control" style="width: auto; display: inline-block;"
            onchange="document.location='?filtro='+document.getElementById('filtro').value"
        >
            <option value="*" {% if selected == '*' %}selected{% endif %}>Todos</option>
            <option value="1" {% if selected == '1' %}selected{% endif %}>En Progreso</option>
            <option value="2" {% if selected == '2' %}selected{% endif %}>En Revisión</option>
            <option value="3" {% if selected == '3' %}selected{% endif %}>Terminados</option>
        </select>
    </div>
    <div style="clear: both"></div>
{% endblock %}
