{% extends 'layout/layout.html' %}
{% load static %}
{% load guardian_tags %}
{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}
    <div class="wrapper-md">
        <div class="well m-t bg-light lt">
              <div class="row">
                <div class="col-xs-4">
                  <h2>Sprint Nro. {{ sprint.orden }}</h2>
                  <p>
                      <strong>Estado:</strong>   {{ sprint.estado|default_if_none:"" }}<br>
                      <strong>Duracion(en semanas):</strong>   {{ sprint.duracion|default_if_none:"" }}<br>
                      <strong>Capacidad(en horas):</strong>   {{ sprint.capacidad|default_if_none:"" }}<br>
                      {% if sprint.estado == 'Planificado' %}<strong>Fecha de Inicio:</strong>   {{ sprint.fechaInicio|default:"" }}<br>{% endif %}

                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                <!-- Se trae todos los permisos asociados con el usuario y el proyecto actual -->
                {% get_obj_perms request.user for sprint.proyecto as "permisosGuardian" %}
                    {% if 'administrar_sprint' in permisosGuardian and sprint.estado == 'PLANIFICADO'%}
                        <a href="#">
                          <button class="btn m-b-xs btn-default btn-addon ">
                            <i class="fa fa-pencil"></i>
                            Iniciar Sprint
                          </button>
                        </a>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    <a href="#">
                      <button class="btn m-b-xs btn-default btn-addon ">
                        <i class="fa fa-pencil"></i>
                        User Stories
                      </button>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'proyecto_sprint_miembros' sprint.proyecto.id sprint.id %}">
                      <button class="btn m-b-xs btn-default btn-addon ">
                        <i class="fa fa-pencil"></i>
                        Miembros
                      </button>
                    </a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}
