{% extends 'layout/layout.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'libs/jquery/datatables/dist/css/dataTables.bootstrap.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div id="popup" class="modal fade" role="dialog"></div>

    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
        {% block detail %}
        {% endblock %}

        {% if crear_button %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <a href="{{ crear_url }}">
                        <button class="pull-right btn m-b-xs btn-success btn-addon">
                            <i class="fa fa-plus"></i>
                            {{ crear_button_text }}
                        </button>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="panel">
                    <div class="panel-body table-responsive">
                        {% block extra_filter %}{% endblock %}
                        {% block results %}
                            <div class="row">
                                <table class="table table-hover table-responsive datatable" style="width: 100%">
                                    <thead>
                                    {% for columna in nombres_columnas %}
                                        <th>{{ columna }}</th>
                                    {% endfor %}
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'libs/jquery/datatables/dist/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery/datatables/dist/js/dataTables.bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('.datatable').DataTable({
                stateSave: true,
                "order": [[ {{ order.0 }}, '{{order.1 }}' ]],
                "columnDefs": [
                    {"visible": false, "targets": 0},
                    //{"width": "10%", "targets": 1}
                ],
                "createdRow": function( row, data, dataIndex) {
                    var url = '{{ datatable_row_link }}';
                    {% if roles %}
                        url = url.replace(99999, data[0]);
                    {% elif miembro_proyecto %}
                        url = url.replace(6436276, data[0]);
                    {% elif user_story %}
                        url = url.replace(7836271, data[0]);
                    {% elif usp %}
                        url = url.replace(7483900, data[0]);
                    {% elif actividad %}
                        url = url.replace(7495261, data[0]);
                    {% else %}
                        url = url.replace(1, data[0]);
                    {% endif %}
                    $(row).attr('data-href', url);
                    $(row).attr('class', "tr-href");
                },
                "processing": true,
                "serverSide": true,
                "ajax": '{{ list_json }}',
                language: {
                    url: "{% static 'libs/jquery/datatables/dist/localization/Spanish.json' %}"
                },

                {% if usp %}
                    "drawCallback": function(settings) {
                        $('.datatable td').each(function(index) {
                            if(index % 3 === 0 && $(this).text().slice(-4) === '¡NT!') {
                                $(this).text($(this).text().slice(0, -4));
                                $(
                                '<span class="label label-default" style="margin-left: 5px">' +
                                    'no terminado en sprint anterior' +
                                '</span>'
                                ).appendTo($(this));
                            }
                        });
                    },
                {% endif %}
            });

            $('.datatable tbody').on('click', 'tr', function () {
                if($(this).data("href") !== undefined){
                    window.document.location = $(this).data("href");
                }
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
{% endblock %}
