{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
    <div class="well m-t bg-light lt">
      <div class="row">

        <div class="col-xs-4">
          <h4>{{ miembro.user.get_full_name }}</h4>
          <p>
              <strong>Correo Electrónico: </strong>   {{ miembro.user.email | default_if_none:"" }}<br><br>
          </p>
        </div>

        <div class="col-xs-6">
          <h4>&nbsp;</h4>
          <p>
              <strong>Roles: </strong>  <br>
              <ul>
                {% for rol in miembro.roles.all %}
                    <li>{{  rol.nombre }}</li>
                {% endfor %}
              </ul>
              <br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            {% if puedeEditar %}
                <a href="{% url 'proyecto_miembro_editar' miembro.proyecto.id miembro.id %}">
                  <button class="btn m-b-xs btn-default btn-addon ">
                    <i class="fa fa-pencil"></i>
                    Editar Roles
                  </button>
                </a>
            {% endif %}
            {% if pasarSM %}
                <a href="#">
                  <button class="btn m-b-xs btn-default btn-addon ">
                    <i class="fa fa-arrow-right"></i>
                    Pasar rol de Scrum Master
                  </button>
                </a>
            {% endif %}
            {% if puedeEliminar %}
                <a href="{% url 'proyecto_miembro_excluir' miembro.proyecto.id miembro.id %}">
                  <button class="btn m-b-xs btn-danger btn-addon ">
                    <i class="fa fa-trash-o"></i>
                    Excluir del Proyecto
                  </button>
                </a>
            {% endif %}
        </div>
      </div>
    </div>
    </div>
{% endblock %}
