{% load static %}
<script src="{% static 'libs/jquery/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'libs/jquery/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'libs/toastr/js/toastr.min.js' %}"></script>
<script src="{% static 'js/ui-nav.js' %}"></script>
<script src="{% static 'js/ui-toggle.js' %}"></script>
<script src="{% static 'js/ui-client.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% for message in messages %}
            toastr.{{ message.tags }}('{{ message }}');
        {% endfor %}
    });
</script>
